.cb-img-block {
  display: block;
  cursor:pointer;
  .cb-img-block--img {
    width: 100%;
    height: 300px;
    background: #f90;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: rgba(green, 0.8);
      display: none;
    }
    &:after {
      font-family: "FontAwesome";
      content: "\f00c";
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -20px;
      margin-top: -20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      display: none;
      background: white;
      color: green;
      border-radius: 100%;
      font-size: 18px;
    }
  }
  .cb-img-block--input {
    display: none;
    &:checked + .cb-img-block--img {
      background: #f00;
      &:before,
      &:after {
        display: block;
      }
    }
  }
}
